# Predicting Median Income in NYC
## Data Gathering

1A - NYC population demographics by zipcode using API call<br>
(Source: https://data.cityofnewyork.us/City-Government/Demographic-Statistics-By-Zip-Code/kku6-nxdu/data)

In [1]:
import requests
from NYC_SODA_API import app_token
import pandas as pd

In [2]:
url = 'https://data.cityofnewyork.us/resource/kku6-nxdu.json'
url_params = {"$$app_token": app_token }
response = requests.get(url, params=url_params)

In [3]:
df_demographics = pd.DataFrame(response.json())
df_demographics = df_demographics[['jurisdiction_name', 'count_male','count_female',
       'count_participants','count_american_indian',
       'count_asian_non_hispanic', 'count_black_non_hispanic',
       'count_citizen_status_total', 'count_citizen_status_unknown',
       'count_ethnicity_total', 'count_ethnicity_unknown',
       'count_gender_total', 'count_gender_unknown', 'count_hispanic_latino','count_nreceives_public_assistance',
       'count_other_citizen_status', 'count_other_ethnicity',
       'count_pacific_islander', 'count_permanent_resident_alien', 'count_public_assistance_total',
       'count_public_assistance_unknown', 'count_receives_public_assistance',
       'count_us_citizen', 'count_white_non_hispanic',
       'percent_american_indian', 'percent_asian_non_hispanic',
       'percent_black_non_hispanic', 'percent_citizen_status_total',
       'percent_citizen_status_unknown', 'percent_ethnicity_total',
       'percent_ethnicity_unknown', 'percent_female', 'percent_gender_total',
       'percent_gender_unknown', 'percent_hispanic_latino', 'percent_male',
       'percent_nreceives_public_assistance', 'percent_other_citizen_status',
       'percent_other_ethnicity', 'percent_pacific_islander',
       'percent_permanent_resident_alien', 'percent_public_assistance_total',
       'percent_public_assistance_unknown', 'percent_receives_public_assistance', 'percent_us_citizen',
       'percent_white_non_hispanic']]
df_demographics

,jurisdiction_name,count_male,count_female,count_participants,count_american_indian,count_asian_non_hispanic,count_black_non_hispanic,count_citizen_status_total,count_citizen_status_unknown,count_ethnicity_total,...,percent_nreceives_public_assistance,percent_other_citizen_status,percent_other_ethnicity,percent_pacific_islander,percent_permanent_resident_alien,percent_public_assistance_total,percent_public_assistance_unknown,percent_receives_public_assistance,percent_us_citizen,percent_white_non_hispanic
0,10001,22,22,44,0,3,21,44,0,44,...,0.55,0,0.07,0,0.05,100,0,0.45,0.95,0.02
1,10002,16,19,35,0,28,0,35,0,35,...,0.94,0,0,0,0.06,100,0,0.06,0.94,0.17
2,10003,0,1,1,0,1,0,1,0,1,...,1,0,0,0,0,100,0,0,1,0
3,10004,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,10005,0,2,2,0,1,1,2,0,2,...,1,0,0,0,0.5,100,0,0,0.5,0
5,10006,4,2,6,0,0,3,6,0,6,...,1,0,0,0,0,100,0,0,1,0.17
6,10007,1,0,1,0,1,0,1,0,1,...,0,0,0,0,0,100,0,1,1,0
7,10009,2,0,2,0,2,0,2,0,2,...,1,0,0,0,0,100,0,0,1,0
8,10010,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,10011,1,2,3,0,0,1,3,0,3,...,1,0,0.33,0,0,100,0,0,1,0
10,10012,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,10013,7,1,8,0,8,0,8,0,8,...,0.88,0,0,0,0,100,0,0.13,1,0
12,10014,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,10016,5,12,17,0,0,8,17,0,17,...,0.47,0,0,0,0,100,0,0.53,1,0
14,10017,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,10018,1,2,3,0,3,0,3,0,3,...,1,0,0,0,0.33,100,0,0,0.67,0
16,10019,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,10020,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,10021,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,10022,0,1,1,0,1,0,1,0,1,...,1,0,0,0,0,100,0,0,1,0
20,10023,2,5,7,0,1,3,7,0,7,...,0.29,0,0,0,0,100,0,0.71,1,0
21,10024,0,4,4,0,0,0,4,0,4,...,0.75,0,0,0,0,100,0,0.25,1,0.75
22,10025,10,17,27,0,0,11,27,0,27,...,0.7,0,0.04,0,0.11,100,0,0.3,0.89,0
23,10026,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,10027,3,4,7,0,1,4,7,0,7,...,0.86,0,0.14,0,0.14,100,0,0.14,0.86,0
25,10028,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,10029,7,13,20,0,0,15,20,0,20,...,0.6,0,0.05,0,0,100,0,0.4,1,0
27,10030,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,10031,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,10032,9,4,13,0,1,2,13,0,13,...,0.62,0,0.08,0,0.08,100,0,0.38,0.92,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,11731,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
207,11798,2,3,5,0,0,5,5,0,5,...,1,0,0,0,0,100,0,0,1,0
208,11968,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
209,12423,20,1,21,0,0,0,21,0,21,...,0.76,0,0.05,0,0,100,0,0.24,1,0.9
210,12428,50,74,124,0,0,0,124,0,124,...,0.43,0,0.03,0.02,0,100,0,0.57,1,0.94
211,12435,50,5,55,0,0,0,55,0,55,...,0.65,0,0.09,0,0,100,0,0.35,1,0.91
212,12458,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
213,12466,0,44,44,0,0,0,44,0,44,...,0.2,0,0,0,0,100,0,0.8,1,1
214,12473,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
215,12528,50,2,52,0,0,0,52,0,52,...,0.6,0,0.12,0,0.02,100,0,0.4,0.98,0.88
216,12701,38,49,87,0,0,0,87,0,87,...,0.79,0,0.02,0,0,100,0,0.21,1,0.95
217,12733,7,6,13,0,0,0,13,0,13,...,0.85,0,0,0,0,100,0,0.15,1,1
218,12734,82,170,252,0,0,0,252,0,252,...,0.76,0,0.02,0,0,100,0,0.24,1,0.96
219,12737,1,34,35,0,0,0,35,0,35,...,0.43,0,0,0,0.06,100,0,0.57,0.94,1
220,12750,1,36,37,0,0,0,37,0,37,...,0.43,0,0,0,0,100,0,0.57,1,1
221,12751,5,2,7,0,0,0,7,0,7,...,0.71,0,0,0,0,100,0,0.29,1,1
222,12754,70,64,134,0,0,0,134,0,134,...,0.8,0,0.03,0.01,0.01,100,0,0.2,0.99,0.95
223,12758,32,50,82,0,0,0,82,0,82,...,0.71,0,0.07,0,0,100,0,0.29,1,0.93
224,12759,11,0,11,0,0,0,11,0,11,...,0.27,0,0,0,0,100,0,0.73,1,1
225,12763,0,11,11,0,0,0,11,0,11,...,0.27,0,0,0,0,100,0,0.73,1,1
226,12764,3,61,64,0,0,0,64,0,64,...,0.92,0,0.03,0,0,100,0,0.08,1,0.97
227,12768,62,1,63,0,0,0,63,0,63,...,0.63,0,0.02,0,0,100,0,0.37,1,0.97
228,12779,59,183,242,0,0,0,242,0,242,...,0.36,0,0.01,0,0,100,0,0.64,1,0.99
229,12783,135,66,201,2,0,0,201,0,201,...,0.62,0,0.01,0,0.02,100,0,0.38,0.98,0.97
230,12786,1,3,4,0,0,0,4,0,4,...,0.75,0,0,0,0,100,0,0.25,1,1
231,12788,44,39,83,0,0,0,83,0,83,...,0.58,0,0.02,0,0,100,0,0.42,1,0.98
232,12789,157,115,272,0,0,0,272,0,272,...,0.74,0,0.02,0,0,100,0,0.26,1,0.96
233,13731,15,2,17,0,0,0,17,0,17,...,0.59,0,0.12,0,0,100,0,0.41,1,0.88
234,16091,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
235,20459,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

1B - 1Population by NYC NTA Code

In [4]:
url = 'https://data.cityofnewyork.us/resource/swpk-hqdp.json'

url_params = {"$$app_token": app_token }

response1 = requests.get(url, params=url_params)

In [5]:
df_nta_pop = pd.DataFrame(response1.json())
df_nta_pop.nta_code.nunique()

195

2. Directory of eateries <br>
(Source: https://data.cityofnewyork.us/Recreation/Directory-of-Eateries/8792-ebcp)

In [6]:
import json
eateries = json.loads(open('DPR_Eateries.json').read())

df_eateries = pd.DataFrame(eateries)
df_eateries.groupby('type_name').count()

,description,end_date,location,name,park_id,permit_number,phone,start_date,website
type_name,,,,,,,,,
Food Cart,1,70,71,71,71,71,0,70,0
Fruit & Vegetable Cart,0,4,4,4,4,4,1,4,0
Mobile Food Truck,1,111,111,111,111,111,0,111,0
Restaurant,11,13,14,14,14,14,11,13,12
Snack Bar,17,24,24,24,24,24,12,24,13
Specialty Cart,6,18,18,18,18,18,3,18,5

2B - List of Legally Operating Businesses<br>
(Source: https://data.cityofnewyork.us/resource/p2mh-mrfv.json)

In [7]:
import csv
url = 'https://data.cityofnewyork.us/resource/p2mh-mrfv.json'
url_params = {"$$app_token": app_token }
response3 = requests.get(url, params=url_params)

In [8]:
df_businesses = pd.DataFrame(response3.json())

In [9]:
df_businesses = df_businesses.iloc[:,5:]
df_businesses.industry.unique()

array(['Home Improvement Salesperson', 'General Vendor',
       'Tow Truck Driver', 'Pedicab Driver', 'Sightseeing Guide',
       'Electronic & Appliance Service', 'Locksmith',
       'Debt Collection Agency', 'Process Server Individual',
       'Auctioneer', 'Home Improvement Contractor', 'Ticket Seller',
       'Process Serving Agency', 'Tobacco Retail Dealer', 'Garage',
       'Electronics Store', 'Horse Drawn Driver', 'Pawnbroker',
       'Sidewalk Cafe', 'Secondhand Dealer - General',
       'Amusement Device Portable', 'Dealer In Products', 'Laundry',
       'Motion Picture Projectionist', 'Stoop Line Stand',
       'Pedicab Business', 'Locksmith Apprentice',
       'Electronic Cigarette Dealer', 'Tow Truck Company', 'Laundries',
       'Employment Agency', 'Newsstand'], dtype=object)

2C - List of NYC restaurants (via restaurant inspection results)<br>

- Only restaurants in an active status are included in the dataset.<br>
- Records are also included for each restaurant that has applied for a permit but has not yet been inspected and for inspections resulting in no violations.<br>
- Establishments with inspection date of '1900-01-01T00:00:00.000' are new establishments that have not yet received an inspection.<br>
- No violations are represented by a single row and coded as having no violations using the ACTION field.</i>

In [77]:
restaurants = pd.read_csv('nyc_Restaurant_Inspection_Results.csv')
restaurants.shape

(385800, 18)

In [63]:
import csv
df_key = pd.read_csv('df_key.csv')
df_key.head()
df_key.isna().sum()
# df_key.zipcode = df_key.zipcode.apply(lambda x: int(x))
null_rows = df_key[pd.isnull(df_key).any(axis=1)]
null_rows
df_key.at[4, 'zipcode'] = 11385

In [64]:
df_key[pd.isnull(df_key).any(axis=1)]

,Unnamed: 0,borough,ct2010,zipcode,NTA_code,NTA_name,match_id,2010 Census Bureau FIPS County Code,2010 NYC Borough Code,2010 Census Tract,PUMA
1,2,SI,277.02,10314.0,NaN,NaN,SI277.02,NaN,NaN,NaN,NaN
23,47,BK,336.00,NaN,BK21,Seagate-Coney Island,BK336.0,47.0,3.0,336.0,4018.0
36,75,QN,58.00,NaN,QN56,Ozone Park,QN58.0,81.0,4.0,58.0,4113.0
96,376,SI,70.00,NaN,SI36,Old Town-Dongan Hills-South Beach,SI70.0,85.0,5.0,70.0,3902.0
181,6440,QN,716.00,NaN,QN98,Airport,QN716.0,81.0,4.0,716.0,4105.0
186,14516,QN,918.00,NaN,QN99,park-cemetery-etc-Queens,QN918.0,81.0,4.0,918.0,4114.0
189,176731,SI,154.00,NaN,SI99,park-cemetery-etc-Staten Island,SI154.0,85.0,5.0,154.0,3901.0

In [65]:
df_key.at[23, 'zipcode'] = 11224
df_key.at[36, 'zipcode'] = 11416
df_key.at[96, 'zipcode'] = 10304

In [66]:
df_key[pd.isnull(df_key).any(axis=1)]

,Unnamed: 0,borough,ct2010,zipcode,NTA_code,NTA_name,match_id,2010 Census Bureau FIPS County Code,2010 NYC Borough Code,2010 Census Tract,PUMA
1,2,SI,277.02,10314.0,NaN,NaN,SI277.02,NaN,NaN,NaN,NaN
181,6440,QN,716.00,NaN,QN98,Airport,QN716.0,81.0,4.0,716.0,4105.0
186,14516,QN,918.00,NaN,QN99,park-cemetery-etc-Queens,QN918.0,81.0,4.0,918.0,4114.0
189,176731,SI,154.00,NaN,SI99,park-cemetery-etc-Staten Island,SI154.0,85.0,5.0,154.0,3901.0

In [67]:
df_key.drop([181,186,189], axis = 0, inplace = True)
df_key[pd.isnull(df_key).any(axis=1)]

,Unnamed: 0,borough,ct2010,zipcode,NTA_code,NTA_name,match_id,2010 Census Bureau FIPS County Code,2010 NYC Borough Code,2010 Census Tract,PUMA
1,2,SI,277.02,10314.0,NaN,NaN,SI277.02,NaN,NaN,NaN,NaN

In [68]:
df_key.to_csv('df_key2.csv')

In [69]:
df_key2 = pd.read_csv('df_key2.csv')
df_key2 = df_key2.iloc[:, 2:]
df_key2

,borough,ct2010,zipcode,NTA_code,NTA_name,match_id,2010 Census Bureau FIPS County Code,2010 NYC Borough Code,2010 Census Tract,PUMA
0,QN,1099.00,11361.0,QN46,Bayside-Bayside Hills,QN1099.0,81.0,4.0,1099.0,4104.0
1,SI,277.02,10314.0,NaN,NaN,SI277.02,NaN,NaN,NaN,NaN
2,BK,546.00,11210.0,BK43,Midwood,BK546.0,47.0,3.0,546.0,4015.0
3,BK,552.00,11229.0,BK44,Madison,BK552.0,47.0,3.0,552.0,4016.0
4,QN,595.00,11385.0,QN20,Ridgewood,QN595.0,81.0,4.0,595.0,4110.0
5,BK,235.00,11205.0,BK69,Clinton Hill,BK235.0,47.0,3.0,235.0,4004.0
6,BK,261.00,11216.0,BK75,Bedford,BK261.0,47.0,3.0,261.0,4003.0
7,BK,165.00,11215.0,BK37,Park Slope-Gowanus,BK165.0,47.0,3.0,165.0,4005.0
8,QN,863.00,11354.0,QN51,Murray Hill,QN863.0,81.0,4.0,863.0,4103.0
9,MN,65.00,10011.0,MN23,West Village,MN65.0,61.0,1.0,65.0,3810.0
10,BK,240.00,11219.0,BK88,Borough Park,BK240.0,47.0,3.0,240.0,4014.0
11,BK,804.00,11225.0,BK60,Prospect Lefferts Gardens-Wingate,BK804.0,47.0,3.0,804.0,4011.0
12,BX,232.00,10462.0,BX37,Van Nest-Morris Park-Westchester Square,BX232.0,5.0,2.0,232.0,3704.0
13,BK,260.00,11204.0,BK28,Bensonhurst West,BK260.0,47.0,3.0,260.0,4017.0
14,BK,200.00,11228.0,BK30,Dyker Heights,BK200.0,47.0,3.0,200.0,4013.0
15,BK,499.00,11222.0,BK76,Greenpoint,BK499.0,47.0,3.0,499.0,4001.0
16,QN,492.00,11427.0,QN06,Jamaica Estates-Holliswood,QN492.0,81.0,4.0,492.0,4106.0
17,BK,302.00,11214.0,BK29,Bensonhurst East,BK302.0,47.0,3.0,302.0,4017.0
18,BK,314.00,11214.0,BK26,Gravesend,BK314.0,47.0,3.0,314.0,4018.0
19,BK,824.00,11226.0,BK95,Erasmus,BK824.0,47.0,3.0,824.0,4010.0
20,QN,548.00,11427.0,QN34,Queens Village,QN548.0,81.0,4.0,548.0,4105.0
21,QN,1429.00,11365.0,QN48,Auburndale,QN1429.0,81.0,4.0,1429.0,4104.0
22,BK,379.00,11233.0,BK35,Stuyvesant Heights,BK379.0,47.0,3.0,379.0,4003.0
23,BK,336.00,11224.0,BK21,Seagate-Coney Island,BK336.0,47.0,3.0,336.0,4018.0
24,BK,539.00,11249.0,BK72,Williamsburg,BK539.0,47.0,3.0,539.0,4001.0
25,BK,742.00,11210.0,BK58,Flatlands,BK742.0,47.0,3.0,742.0,4009.0
26,MN,49.00,10012.0,MN24,SoHo-TriBeCa-Civic Center-Little Italy,MN49.0,61.0,1.0,49.0,3810.0
27,QN,16.00,11421.0,QN53,Woodhaven,QN16.0,81.0,4.0,16.0,4111.0
28,QN,375.00,11368.0,QN26,North Corona,QN375.0,81.0,4.0,375.0,4102.0
29,QN,857.00,11355.0,QN22,Flushing,QN857.0,81.0,4.0,857.0,4103.0
...,...,...,...,...,...,...,...,...,...,...
157,BX,279.00,10463.0,BX28,Van Cortlandt Village,BX279.0,5.0,2.0,279.0,3701.0
158,SI,134.00,10306.0,SI45,New Dorp-Midland Beach,SI134.0,85.0,5.0,134.0,3902.0
159,SI,138.00,10306.0,SI25,Oakwood-Oakwood Beach,SI138.0,85.0,5.0,138.0,3901.0
160,BX,251.00,10453.0,BX36,University Heights-Morris Heights,BX251.0,5.0,2.0,251.0,3707.0
161,BX,263.00,10468.0,BX30,Kingsbridge Heights,BX263.0,5.0,2.0,263.0,3706.0
162,BX,435.00,10467.0,BX99,park-cemetery-etc-Bronx,BX435.0,5.0,2.0,435.0,3702.0
163,BX,131.00,10459.0,BX33,Longwood,BX131.0,5.0,2.0,131.0,3710.0
164,BK,335.00,11213.0,BK63,Crown Heights South,BK335.0,47.0,3.0,335.0,4011.0
165,MN,219.00,10027.0,MN06,Manhattanville,MN219.0,61.0,1.0,219.0,3802.0
166,QN,1017.00,11357.0,QN47,Ft. Totten-Bay Terrace-Clearview,QN1017.0,81.0,4.0,1017.0,4103.0
167,BX,93.00,10474.0,BX27,Hunts Point,BX93.0,5.0,2.0,93.0,3710.0
168,BX,431.00,10467.0,BX43,Norwood,BX431.0,5.0,2.0,431.0,3706.0
169,BX,72.00,10472.0,BX55,Soundview-Bruckner,BX72.0,5.0,2.0,72.0,3709.0
170,MN,6.00,10002.0,MN28,Lower East Side,MN6.0,61.0,1.0,6.0,3809.0
171,BX,218.00,10460.0,BX08,West Farms-Bronx River,BX218.0,5.0,2.0,218.0,3709.0
172,BX,340.00,10469.0,BX07,Bronxdale,BX340.0,5.0,2.0,340.0,3704.0
173,QN,450.00,11432.0,QN35,Briarwood-Jamaica Hills,QN450.0,81.0,4.0,450.0,4106.0
174,BX,413.00,10458.0,BX05,Bedford Park-Fordham North,BX413.0,5.0,2.0,413.0,3706.0
175,BX,222.00,10462.0,BX46,Parkchester,BX222.0,5.0,2.0,222.0,3709.0
176,MN,295.00,10034.0,MN01,Marble Hill-Inwood,MN295.0,61.0,1.0,295.0,3801.0
177,BX,65.00,10455.0,BX34,Melrose South-Mott Haven North,BX65.0,5.0,2.0,65.0,3710.0
178,BX,175.00,10456.0,BX14,East Concourse-Concourse Village,BX175.0,5.0,2.0,175.0,3708.0
179,BX,165.00,10457.0,BX01,Claremont-Bathgate,BX165.0,5.0,2.0,165.0,3705.0
180,MN,285.00,10040.0,MN35,Washington Heights North,MN285.0,61.0,1.0,285.0,3801.0
181,BX,302.00,10475.0,BX13,Co-op City,BX302.0,5.0,2.0,302.0,3703.0
182,BX,239.00,10453.0,BX40,Fordham South,BX239.0,5.0,2.0,239.0,3707.0
183,BX,223.00,10452.0,BX63,West Concourse,BX223.0,5.0,2.0,223.0,3708.0
184,MN,60.00,10009.0,MN50,Stuyvesant Town-Cooper Village,MN60.0,61.0,1.0,60.0,3808.0
185,MN,240.00,10035.0,MN99,park-cemetery-etc-Manhattan,MN240.0,61.0,1.0,240.0,3804.0
186,BX,1.00,11370.0,BX98,Rikers Island,BX1.0,5.0,2.0,1.0,3710.0

In [78]:
# CAMIS is a unique identifier for each restaurant
restaurants.isna().sum()

CAMIS                         0
DBA                         588
BORO                          0
BUILDING                    240
STREET                        4
ZIPCODE                    5880
PHONE                         4
CUISINE DESCRIPTION           0
INSPECTION DATE               0
ACTION                     1336
VIOLATION CODE             5979
VIOLATION DESCRIPTION      8212
CRITICAL FLAG                 0
SCORE                     18991
GRADE                    190916
GRADE DATE               192484
RECORD DATE                   0
INSPECTION TYPE            1336
dtype: int64

In [79]:
restaurants = restaurants[pd.notnull(restaurants['ZIPCODE'])]
restaurants.isna().sum()

CAMIS                         0
DBA                         584
BORO                          0
BUILDING                    235
STREET                        0
ZIPCODE                       0
PHONE                         4
CUISINE DESCRIPTION           0
INSPECTION DATE               0
ACTION                     1319
VIOLATION CODE             5837
VIOLATION DESCRIPTION      8032
CRITICAL FLAG                 0
SCORE                     18697
GRADE                    188093
GRADE DATE               189655
RECORD DATE                   0
INSPECTION TYPE            1319
dtype: int64

In [80]:
restaurants.rename(index=str, columns = {'ZIPCODE':'zipcode'}, inplace = True)
restaurants.head()

,CAMIS,DBA,BORO,BUILDING,STREET,zipcode,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE,INSPECTION TYPE
1,40784405,CINNABON,QUEENS,9015,Queens Boulevard,11373.0,7185927172,Bakery,08/01/2018,Violations were cited in the following area(s).,04N,Filth flies or food/refuse/sewage-associated (...,Critical,11.0,A,08/01/2018,03/05/2019,Cycle Inspection / Initial Inspection
2,40787908,KELLY'S TAVERN,BROOKLYN,9259,4 AVENUE,11209.0,9175194046,American,06/14/2017,Violations were cited in the following area(s).,10B,Plumbing not properly installed or maintained;...,Not Critical,8.0,A,06/14/2017,03/05/2019,Cycle Inspection / Initial Inspection
3,41428096,LA ISLA RESTAURANT,BROOKLYN,6,GRAHAM AVENUE,11206.0,7183884666,"Latin (Cuban, Dominican, Puerto Rican, South &...",09/08/2015,Violations were cited in the following area(s).,02G,Cold food item held above 41Âº F (smoked fish ...,Critical,25.0,NaN,NaN,03/05/2019,Cycle Inspection / Initial Inspection
4,50000853,TASTY DELI,MANHATTAN,4020,BROADWAY,10032.0,2129230700,American,08/22/2016,Violations were cited in the following area(s).,08A,Facility not vermin proof. Harborage or condit...,Not Critical,9.0,A,08/22/2016,03/05/2019,Cycle Inspection / Re-inspection
5,41281111,THE BOX,MANHATTAN,189,CHRYSTIE STREET,10002.0,2129829330,American,10/06/2018,Violations were cited in the following area(s).,10A,Toilet facility not maintained and provided wi...,Not Critical,5.0,NaN,NaN,03/05/2019,Inter-Agency Task Force / Initial Inspection

In [81]:
restaurants_ct = restaurants.merge(df_key2, how = 'left', on = 'zipcode')

In [82]:
restaurants_ct.head()

,CAMIS,DBA,BORO,BUILDING,STREET,zipcode,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,borough,ct2010,NTA_code,NTA_name,match_id,2010 Census Bureau FIPS County Code,2010 NYC Borough Code,2010 Census Tract,PUMA
0,40784405,CINNABON,QUEENS,9015,Queens Boulevard,11373.0,7185927172,Bakery,08/01/2018,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,QN,473.0,QN29,Elmhurst,QN473.0,81.0,4.0,473.0,4107.0
1,40787908,KELLY'S TAVERN,BROOKLYN,9259,4 AVENUE,11209.0,9175194046,American,06/14/2017,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,BK,58.0,BK31,Bay Ridge,BK58.0,47.0,3.0,58.0,4013.0
2,41428096,LA ISLA RESTAURANT,BROOKLYN,6,GRAHAM AVENUE,11206.0,7183884666,"Latin (Cuban, Dominican, Puerto Rican, South &...",09/08/2015,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,50000853,TASTY DELI,MANHATTAN,4020,BROADWAY,10032.0,2129230700,American,08/22/2016,Violations were cited in the following area(s).,...,Cycle Inspection / Re-inspection,MN,241.0,MN36,Washington Heights South,MN241.0,61.0,1.0,241.0,3801.0
4,41281111,THE BOX,MANHATTAN,189,CHRYSTIE STREET,10002.0,2129829330,American,10/06/2018,Violations were cited in the following area(s).,...,Inter-Agency Task Force / Initial Inspection,MN,6.0,MN28,Lower East Side,MN6.0,61.0,1.0,6.0,3809.0

In [83]:
restaurants_ct.isna().sum()

CAMIS                                       0
DBA                                       776
BORO                                        0
BUILDING                                  286
STREET                                      0
zipcode                                     0
PHONE                                       5
CUISINE DESCRIPTION                         0
INSPECTION DATE                             0
ACTION                                   1711
VIOLATION CODE                           7693
VIOLATION DESCRIPTION                   10542
CRITICAL FLAG                               0
SCORE                                   24696
GRADE                                  250147
GRADE DATE                             252219
RECORD DATE                                 0
INSPECTION TYPE                          1711
borough                                100744
ct2010                                 100744
NTA_code                               103121
NTA_name                               103121
match_id                               100744
2010 Census Bureau FIPS County Code    103121
2010 NYC Borough Code                  103121
2010 Census Tract                      103121
PUMA                                   103121
dtype: int64

In [30]:
# restaurants_ct.drop_duplicates(subset='zipcode', inplace=True)
# restaurants.head()

,CAMIS,DBA,BORO,BUILDING,STREET,zipcode,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE,INSPECTION TYPE
1,40784405,CINNABON,QUEENS,9015,Queens Boulevard,11373.0,7185927172,Bakery,08/01/2018,Violations were cited in the following area(s).,04N,Filth flies or food/refuse/sewage-associated (...,Critical,11.0,A,08/01/2018,03/05/2019,Cycle Inspection / Initial Inspection
2,40787908,KELLY'S TAVERN,BROOKLYN,9259,4 AVENUE,11209.0,9175194046,American,06/14/2017,Violations were cited in the following area(s).,10B,Plumbing not properly installed or maintained;...,Not Critical,8.0,A,06/14/2017,03/05/2019,Cycle Inspection / Initial Inspection
3,41428096,LA ISLA RESTAURANT,BROOKLYN,6,GRAHAM AVENUE,11206.0,7183884666,"Latin (Cuban, Dominican, Puerto Rican, South &...",09/08/2015,Violations were cited in the following area(s).,02G,Cold food item held above 41Âº F (smoked fish ...,Critical,25.0,NaN,NaN,03/05/2019,Cycle Inspection / Initial Inspection
4,50000853,TASTY DELI,MANHATTAN,4020,BROADWAY,10032.0,2129230700,American,08/22/2016,Violations were cited in the following area(s).,08A,Facility not vermin proof. Harborage or condit...,Not Critical,9.0,A,08/22/2016,03/05/2019,Cycle Inspection / Re-inspection
5,41281111,THE BOX,MANHATTAN,189,CHRYSTIE STREET,10002.0,2129829330,American,10/06/2018,Violations were cited in the following area(s).,10A,Toilet facility not maintained and provided wi...,Not Critical,5.0,NaN,NaN,03/05/2019,Inter-Agency Task Force / Initial Inspection

In [84]:
# DO NOT DELETE
zip_rest_count = pd.DataFrame(restaurants_ct.groupby('zipcode').CAMIS.nunique())
zip_rest_count.reset_index(inplace = True)
zip_rest_count.rename(index = str, columns = {'CAMIS': 'restaurant_count'}, inplace = True)
zip_rest_count

     zipcode  restaurant_count
0    10000.0                 2
1    10001.0               488
2    10002.0               509
3    10003.0               682
4    10004.0               145
5    10005.0                72
6    10006.0                45
7    10007.0               141
8    10009.0               311
9    10010.0               259
10   10011.0               455
11   10012.0               429
12   10013.0               497
13   10014.0               424
14   10016.0               441
15   10017.0               358
16   10018.0               382
17   10019.0               695
18   10020.0                36
19   10021.0               150
20   10022.0               463
21   10023.0               197
22   10024.0               196
23   10025.0               232
24   10026.0                88
25   10027.0               169
26   10028.0               198
27   10029.0               208
28   10030.0                37
29   10031.0               118
..       ...               ...
195  11385.0               292
196  11411.0                23
197  11412.0                48
198  11413.0                51
199  11414.0                55
200  11415.0                37
201  11416.0                44
202  11417.0                76
203  11418.0                90
204  11419.0                90
205  11420.0                89
206  11421.0                76
207  11422.0                38
208  11423.0                37
209  11426.0                33
210  11427.0                18
211  11428.0                44
212  11429.0                23
213  11430.0               142
214  11432.0               186
215  11433.0                31
216  11434.0                81
217  11435.0               111
218  11436.0                23
219  11691.0                45
220  11692.0                10
221  11693.0                36
222  11694.0                39
223  11697.0                 4
224  12345.0                 2

[225 rows x 2 columns]

In [32]:
df_key2.ct2010.nunique()

167

In [33]:
zip_rest_count.zipcode.nunique()

225

In [85]:
zipct_restaurants = zip_rest_count.merge(df_key2, how = 'left', on = 'zipcode')
zipct_restaurants.head(50)

,zipcode,restaurant_count,borough,ct2010,NTA_code,NTA_name,match_id,2010 Census Bureau FIPS County Code,2010 NYC Borough Code,2010 Census Tract,PUMA
0,10000.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10001.0,488,MN,101.0,MN17,Midtown-Midtown South,MN101.0,61.0,1.0,101.0,3807.0
2,10002.0,509,MN,6.0,MN28,Lower East Side,MN6.0,61.0,1.0,6.0,3809.0
3,10003.0,682,MN,50.0,MN21,Gramercy,MN50.0,61.0,1.0,50.0,3808.0
4,10004.0,145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,10005.0,72,MN,7.0,MN25,Battery Park City-Lower Manhattan,MN7.0,61.0,1.0,7.0,3810.0
6,10006.0,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,10007.0,141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,10009.0,311,MN,34.0,MN22,East Village,MN34.0,61.0,1.0,34.0,3809.0
9,10009.0,311,MN,60.0,MN50,Stuyvesant Town-Cooper Village,MN60.0,61.0,1.0,60.0,3808.0
10,10010.0,259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,10011.0,455,MN,65.0,MN23,West Village,MN65.0,61.0,1.0,65.0,3810.0
12,10011.0,455,MN,93.0,MN13,Hudson Yards-Chelsea-Flat Iron-Union Square,MN93.0,61.0,1.0,93.0,3807.0
13,10012.0,429,MN,49.0,MN24,SoHo-TriBeCa-Civic Center-Little Italy,MN49.0,61.0,1.0,49.0,3810.0
14,10013.0,497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,10014.0,424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,10016.0,441,MN,82.0,MN20,Murray Hill-Kips Bay,MN82.0,61.0,1.0,82.0,3808.0
17,10017.0,358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,10018.0,382,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,10019.0,695,MN,133.0,MN15,Clinton,MN133.0,61.0,1.0,133.0,3807.0
20,10020.0,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,10021.0,150,MN,128.0,MN40,Upper East Side-Carnegie Hill,MN128.0,61.0,1.0,128.0,3805.0
22,10021.0,150,MN,124.0,MN31,Lenox Hill-Roosevelt Island,MN124.0,61.0,1.0,124.0,3805.0
23,10022.0,463,MN,98.0,MN19,Turtle Bay-East Midtown,MN98.0,61.0,1.0,98.0,3808.0
24,10023.0,197,MN,161.0,MN12,Upper West Side,MN161.0,61.0,1.0,161.0,3806.0
25,10023.0,197,MN,145.0,MN14,Lincoln Square,MN145.0,61.0,1.0,145.0,3806.0
26,10024.0,196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,10025.0,232,MN,193.0,MN09,Morningside Heights,MN193.0,61.0,1.0,193.0,3802.0
28,10026.0,88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,10027.0,169,MN,200.0,MN11,Central Harlem South,MN200.0,61.0,1.0,200.0,3803.0
30,10027.0,169,MN,219.0,MN06,Manhattanville,MN219.0,61.0,1.0,219.0,3802.0
31,10028.0,198,MN,138.0,MN32,Yorkville,MN138.0,61.0,1.0,138.0,3805.0
32,10029.0,208,MN,166.0,MN33,East Harlem South,MN166.0,61.0,1.0,166.0,3804.0
33,10030.0,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,10031.0,118,MN,227.0,MN04,Hamilton Heights,MN227.0,61.0,1.0,227.0,3802.0
35,10032.0,114,MN,241.0,MN36,Washington Heights South,MN241.0,61.0,1.0,241.0,3801.0
36,10033.0,120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,10034.0,111,MN,295.0,MN01,Marble Hill-Inwood,MN295.0,61.0,1.0,295.0,3801.0
38,10035.0,87,MN,206.0,MN03,Central Harlem North-Polo Grounds,MN206.0,61.0,1.0,206.0,3803.0
39,10035.0,87,MN,178.0,MN34,East Harlem North,MN178.0,61.0,1.0,178.0,3804.0
40,10035.0,87,MN,240.0,MN99,park-cemetery-etc-Manhattan,MN240.0,61.0,1.0,240.0,3804.0
41,10036.0,608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,10037.0,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,10038.0,207,MN,29.0,MN27,Chinatown,MN29.0,61.0,1.0,29.0,3809.0
44,10039.0,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,10040.0,77,MN,285.0,MN35,Washington Heights North,MN285.0,61.0,1.0,285.0,3801.0
46,10041.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,10044.0,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,10048.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,10055.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3 - NYC geographic info
(Source: https://www1.nyc.gov/site/planning/data-maps/open-data.page)

In [35]:
import csv

In [36]:
nyc_geo = pd.read_csv('pluto_18v2.csv')

/Users/gracejeong/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (16,17,18,20,22,77) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [57]:
nyc_geo[nyc_geo['zipcode'] == 10005.0]

,borough,block,lot,cd,ct2010,cb2010,schooldist,council,zipcode,firecomp,...,pfirm15_flag,rpaddate,dcasdate,zoningdate,landmkdate,basempdate,masdate,polidate,edesigdate,geom
809,MN,39,7501,101.0,7.0,1017.0,2.0,1.0,10005.0,E004,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000006...
864,MN,41,7501,101.0,7.0,1003.0,2.0,1.0,10005.0,E004,...,NaN,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000008...
1045,MN,40,7501,101.0,7.0,1011.0,2.0,1.0,10005.0,E004,...,NaN,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E6100000010000000103000000010000000D...
1231,MN,41,7502,101.0,7.0,1003.0,2.0,1.0,10005.0,E004,...,NaN,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000009...
263943,MN,40,16,101.0,7.0,1011.0,2.0,1.0,10005.0,E004,...,NaN,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000007...
268425,MN,37,1,101.0,7.0,1015.0,2.0,1.0,10005.0,E004,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E6100000010000000103000000010000000B...
270959,MN,41,22,101.0,7.0,1003.0,2.0,1.0,10005.0,E004,...,NaN,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000007...
305380,MN,27,9,101.0,7.0,1020.0,2.0,1.0,10005.0,L015,...,NaN,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000009...
306801,MN,46,9,101.0,7.0,1006.0,2.0,1.0,10005.0,E004,...,NaN,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E6100000010000000103000000010000000C...
310451,MN,27,17,101.0,7.0,1020.0,2.0,1.0,10005.0,L015,...,NaN,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000007...
356626,MN,31,10,101.0,7.0,1018.0,2.0,1.0,10005.0,L015,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000005...
364023,MN,43,6,101.0,7.0,1010.0,2.0,1.0,10005.0,E004,...,NaN,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000005...
368331,MN,40,14,101.0,7.0,1011.0,2.0,1.0,10005.0,E004,...,NaN,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000008...
386784,MN,40,3,101.0,7.0,1011.0,2.0,1.0,10005.0,E004,...,NaN,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000012...
388663,MN,46,1,101.0,7.0,1006.0,2.0,1.0,10005.0,E004,...,NaN,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000006...
390184,MN,43,2,101.0,7.0,1010.0,2.0,1.0,10005.0,E004,...,NaN,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E6100000010000000103000000010000000B...
394743,MN,41,24,101.0,7.0,1003.0,2.0,1.0,10005.0,E004,...,NaN,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E6100000010000000103000000010000000C...
396512,MN,39,4,101.0,7.0,1017.0,2.0,1.0,10005.0,E004,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E6100000010000000103000000010000000B...
396737,MN,26,21,101.0,7.0,1009.0,2.0,1.0,10005.0,L015,...,NaN,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E6100000010000000103000000010000000A...
398507,MN,43,5,101.0,7.0,1010.0,2.0,1.0,10005.0,E004,...,NaN,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000009...
424586,MN,23,50,101.0,7.0,1008.0,2.0,1.0,10005.0,L015,...,NaN,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E6100000010000000103000000010000000A...
500209,MN,33,1,101.0,7.0,1031.0,2.0,1.0,10005.0,L015,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000006...
500273,MN,38,17,101.0,7.0,1012.0,2.0,1.0,10005.0,E004,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000005...
500274,MN,37,13,101.0,7.0,1015.0,2.0,1.0,10005.0,E004,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000006...
500288,MN,33,11,101.0,7.0,1025.0,2.0,1.0,10005.0,L015,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000009...
515061,MN,241,18,101.0,7.0,1032.0,2.0,1.0,10005.0,L015,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000007...
515068,MN,241,22,101.0,7.0,1032.0,2.0,1.0,10005.0,L015,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000007...
515281,MN,37,8,101.0,7.0,1015.0,2.0,1.0,10005.0,E004,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000009...
515286,MN,34,37,101.0,7.0,1033.0,2.0,1.0,10005.0,L015,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000009...
515291,MN,35,10,101.0,7.0,1026.0,2.0,1.0,10005.0,L015,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000006...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605131,MN,37,23,101.0,7.0,1014.0,2.0,1.0,10005.0,E004,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E6100000010000000103000000010000000A...
616904,MN,39,40,101.0,7.0,1017.0,2.0,1.0,10005.0,E004,...,NaN,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,NaN
640904,MN,41,7503,101.0,7.0,1003.0,2.0,1.0,10005.0,E004,...,NaN,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E6100000010000000103000000010000000A...
652017,MN,38,1,101.0,7.0,1016.0,2.0,1.0,10005.0,E004,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000007...
707629,MN,23,7501,101.0,7.0,1007.0,2.0,1.0,10005.0,L015,...,NaN,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000006...
707631,MN,44,7501,101.0,7.0,1002.0,2.0,1.0,10005.0,E004,...,NaN,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000008...
707706,MN,33,7501,101.0,7.0,1025.0,2.0,1.0,10005.0,L015,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000007...
708615,MN,39,12,101.0,7.0,1005.0,2.0,1.0,10005.0,E004,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000005...
710159,MN,46,3,101.0,7.0,1006.0,2.0,1.0,10005.0,E004,...,NaN,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000008...
715325,MN,43,1,101.0,7.0,1010.0,2.0,1.0,10005.0,E004,...,NaN,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000007...
725009,MN,26,14,101.0,7.0,1009.0,2.0,1.0,10005.0,L015,...,NaN,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000010...
729053,MN,44,1,101.0,7.0,1002.0,2.0,1.0,10005.0,E004,...,NaN,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E6100000010000000103000000010000000E...
749855,MN,41,15,101.0,7.0,1003.0,2.0,1.0,10005.0,E004,...,NaN,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000007...
764106,MN,36,18,101.0,7.0,1029.0,2.0,1.0,10005.0,L015,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E6100000010000000103000000010000000D...
764107,MN,36,30,101.0,7.0,1014.0,2.0,1.0,10005.0,E004,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000014...
768229,MN,48,1,101.0,7.0,1000.0,2.0,1.0,10005.0,E004,...,NaN,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000007...
769862,MN,23,19,101.0,7.0,1008.0,2.0,1.0,10005.0,L015,...,NaN,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E6100000010000000103000000010000000C...
781244,MN,28,12,101.0,7.0,1019.0,2.0,1.0,10005.0,L015,...,NaN,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000005...
831560,MN,31,1,101.0,7.0,1018.0,2.0,1.0,10005.0,L015,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000007...
831593,MN,25,27,101.0,9.0,1000.0,2.0,1.0,10005.0,L015,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000009...
831595,MN,39,6,101.0,7.0,1017.0,2.0,1.0,10005.0,E004,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E6100000010000000103000000010000000B...
831596,MN,42,36,101.0,7.0,1004.0,2.0,1.0,10005.0,E004,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000007...
831602,MN,42,1,101.0,7.0,1004.0,2.0,1.0,10005.0,E004,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000007...
831605,MN,42,22,101.0,7.0,1004.0,2.0,1.0,10005.0,E004,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000007...
831607,MN,42,31,101.0,7.0,1004.0,2.0,1.0,10005.0,E004,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000007...
831608,MN,31,7501,101.0,7.0,1018.0,2.0,1.0,10005.0,L015,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E6100000010000000103000000010000000A...
831609,MN,31,34,101.0,7.0,1018.0,2.0,1.0,10005.0,L015,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000005...
831611,MN,39,1,101.0,7.0,1017.0,2.0,1.0,10005.0,E004,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000007...
831612,MN,39,41,101.0,7.0,1017.0,2.0,1.0,10005.0,E004,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E6100000010000000103000000010000000D...
831613,MN,39,38,101.0,7.0,1017.0,2.0,1.0,10005.0,E004,...,1.0,12/06/2018,12/20/2018,12/21/18,12/20/2018,12/21/2018,NaN,NaN,12/20/2018,0106000020E61000000100000001030000000100000005...

In [38]:
nyc_geo.shape

(858976, 97)

In [39]:
nyc_geo.columns

Index(['borough', 'block', 'lot', 'cd', 'ct2010', 'cb2010', 'schooldist',
       'council', 'zipcode', 'firecomp', 'policeprct', 'healtharea',
       'sanitboro', 'sanitsub', 'address', 'zonedist1', 'zonedist2',
       'zonedist3', 'zonedist4', 'overlay1', 'overlay2', 'spdist1', 'spdist2',
       'spdist3', 'ltdheight', 'splitzone', 'bldgclass', 'landuse',
       'easements', 'ownertype', 'ownername', 'lotarea', 'bldgarea', 'comarea',
       'resarea', 'officearea', 'retailarea', 'garagearea', 'strgearea',
       'factryarea', 'otherarea', 'areasource', 'numbldgs', 'numfloors',
       'unitsres', 'unitstotal', 'lotfront', 'lotdepth', 'bldgfront',
       'bldgdepth', 'ext', 'proxcode', 'irrlotcode', 'lottype', 'bsmtcode',
       'assessland', 'assesstot', 'exemptland', 'exempttot', 'yearbuilt',
       'yearalter1', 'yearalter2', 'histdist', 'landmark', 'builtfar',
       'residfar', 'commfar', 'facilfar', 'borocode', 'bbl', 'condono',
       'tract2010', 'xcoord', 'ycoord', 'zonemap', 'zmcode', 'sanborn',
       'taxmap', 'edesignum', 'appbbl', 'appdate', 'mappluto_f', 'plutomapid',
       'version', 'sanitdistrict', 'healthcenterdistrict', 'firm07_flag',
       'pfirm15_flag', 'rpaddate', 'dcasdate', 'zoningdate', 'landmkdate',
       'basempdate', 'masdate', 'polidate', 'edesigdate', 'geom'],
      dtype='object')

In [40]:
boro_t10_c10 = nyc_geo[['borough','tract2010', 'ct2010']]

In [41]:
boro_t10_c10[boro_t10_c10.borough =='QN'].sort_values(by='tract2010', ascending = False)

       borough  tract2010   ct2010
576897      QN   157903.0  1579.03
47620       QN   157903.0  1579.03
557256      QN   157903.0  1579.03
480660      QN   157903.0  1579.03
680979      QN   157903.0  1579.03
476205      QN   157903.0  1579.03
476206      QN   157903.0  1579.03
476207      QN   157903.0  1579.03
72661       QN   157903.0  1579.03
72660       QN   157903.0  1579.03
58085       QN   157903.0  1579.03
173905      QN   157903.0  1579.03
58086       QN   157903.0  1579.03
72651       QN   157903.0  1579.03
173906      QN   157903.0  1579.03
173907      QN   157903.0  1579.03
243150      QN   157903.0  1579.03
243152      QN   157903.0  1579.03
243153      QN   157903.0  1579.03
105774      QN   157903.0  1579.03
130629      QN   157903.0  1579.03
105773      QN   157903.0  1579.03
130636      QN   157903.0  1579.03
47619       QN   157903.0  1579.03
527224      QN   157903.0  1579.03
798490      QN   157903.0  1579.03
798489      QN   157903.0  1579.03
549653      QN   157903.0  1579.03
634786      QN   157903.0  1579.03
129394      QN   157903.0  1579.03
...        ...        ...      ...
716497      QN        NaN      NaN
716521      QN        NaN      NaN
716753      QN        NaN      NaN
716756      QN        NaN      NaN
716757      QN        NaN      NaN
716759      QN        NaN      NaN
716760      QN        NaN      NaN
716763      QN        NaN      NaN
719495      QN        NaN      NaN
719598      QN        NaN      NaN
719599      QN        NaN      NaN
719608      QN        NaN      NaN
719637      QN        NaN      NaN
725295      QN        NaN      NaN
727258      QN        NaN      NaN
758280      QN        NaN      NaN
758438      QN        NaN      NaN
795398      QN        NaN      NaN
816261      QN        NaN      NaN
816270      QN        NaN      NaN
816330      QN        NaN      NaN
816372      QN        NaN      NaN
816385      QN        NaN      NaN
816453      QN        NaN      NaN
816474      QN        NaN      NaN
840548      QN        NaN      NaN
841920      QN        NaN      NaN
841921      QN        NaN      NaN
846375      QN        NaN      NaN
850863      QN        NaN      NaN

[324554 rows x 3 columns]

In [42]:
zip_t2010 = nyc_geo[['borough','zipcode', 'tract2010']]
zip_t2010.head()
zip_t2010.tract2010 = zip_t2010.tract2010.map(lambda x: str(x))
zip_t2010['match_id'] = zip_t2010['borough'] +zip_t2010['tract2010']
zip_t2010.head()

/Users/gracejeong/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
/Users/gracejeong/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

  borough  zipcode tract2010   match_id
0      QN  11361.0    1099.0   QN1099.0
1      QN  11361.0    1097.0   QN1097.0
2      SI  10314.0   27702.0  SI27702.0
3      BK  11210.0     546.0    BK546.0
4      BK  11210.0     546.0    BK546.0

In [43]:
equivalency = pd.read_csv('2010_Census_Tract_to_Neighborhood_Tabulation_Area_Equivalency_table.csv')
equivalency.Borough.replace('Bronx', 'BX', inplace = True)
equivalency.Borough.replace('Queens', 'QN', inplace = True)
equivalency.Borough.replace('Brooklyn', 'BK', inplace = True)
equivalency.Borough.replace('Manhattan', 'MN', inplace = True)
equivalency.Borough.replace('Staten Island', 'SI', inplace = True)

equivalency.loc[(equivalency.Borough =='SI') & (equivalency['2010 Census Tract'] == 27702)]

,Borough,2010 Census Bureau FIPS County Code,2010 NYC Borough Code,2010 Census Tract,PUMA,Neighborhood Tabulation Area (NTA)Code,Neighborhood Tabulation Area (NTA) Name
2144,SI,85,5,27702,3902,SI24,Todt Hill-Emerson Hill-Heartland Village-Light...

In [44]:
equivalency['2010 Census Tract'] = equivalency['2010 Census Tract'].map(lambda x: str(x)+'.0')
equivalency['match_id'] = equivalency['Borough'] + equivalency['2010 Census Tract']
equivalency.head()

,Borough,2010 Census Bureau FIPS County Code,2010 NYC Borough Code,2010 Census Tract,PUMA,Neighborhood Tabulation Area (NTA)Code,Neighborhood Tabulation Area (NTA) Name,match_id
0,BX,5,2,31000.0,3704,BX31,Allerton-Pelham Gardens,BX31000.0
1,BX,5,2,31200.0,3704,BX31,Allerton-Pelham Gardens,BX31200.0
2,BX,5,2,31400.0,3704,BX31,Allerton-Pelham Gardens,BX31400.0
3,BX,5,2,31600.0,3704,BX31,Allerton-Pelham Gardens,BX31600.0
4,BX,5,2,31800.0,3704,BX31,Allerton-Pelham Gardens,BX31800.0

In [45]:
equivalency.loc[(equivalency.Borough =='SI') & (equivalency['2010 Census Tract'] == '27702.0')]

,Borough,2010 Census Bureau FIPS County Code,2010 NYC Borough Code,2010 Census Tract,PUMA,Neighborhood Tabulation Area (NTA)Code,Neighborhood Tabulation Area (NTA) Name,match_id
2144,SI,85,5,27702.0,3902,SI24,Todt Hill-Emerson Hill-Heartland Village-Light...,SI27702.0

Merge zipcode & NTA codes

In [46]:
zip_nta_ct2010 = zip_ct2010.merge(equivalency, how = 'inner', on ='match_id')

NameError: name 'zip_ct2010' is not defined

In [ ]:
zip_nta_ct2010.shape

In [ ]:
zip_nta_ct2010.rename(index=str, columns={"Neighborhood Tabulation Area (NTA)Code": "NTA_code", 
                                            "Neighborhood Tabulation Area (NTA) Name": "NTA_name"}, inplace = True)
zip_nta_ct2010.drop_duplicates(subset = 'NTA_code', inplace = True)

In [ ]:
zip_nta_ct2010.sort_values(['borough', 'NTA_code']).head()

In [ ]:
import numpy as np

In [ ]:
zip_nta_ct2010.isnull()

In [ ]:
zip_nta_ct2010[np.isnan(zip_nta_ct2010.zipcode)]