## Adding dummy variables for county in df_ex-SI.csv dataframe

In [1]:
import pandas as pd
import csv

In [2]:
df = pd.read_csv('df_ex-SI.csv')
df.head()

,Unnamed: 0,Unnamed: 0.1,zipcode,median_income,population,county,median_rent,restaurant_count,recycling_bin_count,num_subway_entrances,subway_bracket,logincome,logrent,logrestaurant,predicted_inc,difference
0,0,0,10001,71244.6100,17678,New York County,3400.0,488.0,1.0,51.0,"(6, 72]",11.173874,8.131531,6.190315,11.371688,-0.197814
1,1,1,10002,30843.9574,70878,New York County,3050.0,509.0,10.0,19.0,"(6, 72]",10.336696,8.022897,6.232448,10.896473,-0.559777
2,2,2,10003,89998.5339,53609,New York County,3750.0,682.0,7.0,28.0,"(6, 72]",11.407549,8.229511,6.525030,11.202456,0.205092
3,3,3,10004,110183.6857,1271,New York County,3876.0,145.0,3.0,6.0,"(0, 6]",11.609904,8.262559,4.976734,11.496626,0.113278
4,4,4,10005,115133.2855,1517,New York County,3910.0,72.0,3.0,0.0,0,11.653846,8.271293,4.276666,11.503444,0.150401

In [3]:
df = df.iloc[:, 2:]
df.head()

,zipcode,median_income,population,county,median_rent,restaurant_count,recycling_bin_count,num_subway_entrances,subway_bracket,logincome,logrent,logrestaurant,predicted_inc,difference
0,10001,71244.6100,17678,New York County,3400.0,488.0,1.0,51.0,"(6, 72]",11.173874,8.131531,6.190315,11.371688,-0.197814
1,10002,30843.9574,70878,New York County,3050.0,509.0,10.0,19.0,"(6, 72]",10.336696,8.022897,6.232448,10.896473,-0.559777
2,10003,89998.5339,53609,New York County,3750.0,682.0,7.0,28.0,"(6, 72]",11.407549,8.229511,6.525030,11.202456,0.205092
3,10004,110183.6857,1271,New York County,3876.0,145.0,3.0,6.0,"(0, 6]",11.609904,8.262559,4.976734,11.496626,0.113278
4,10005,115133.2855,1517,New York County,3910.0,72.0,3.0,0.0,0,11.653846,8.271293,4.276666,11.503444,0.150401

In [4]:
df.dtypes

zipcode                   int64
median_income           float64
population                int64
county                   object
median_rent             float64
restaurant_count        float64
recycling_bin_count     float64
num_subway_entrances    float64
subway_bracket           object
logincome               float64
logrent                 float64
logrestaurant           float64
predicted_inc           float64
difference              float64
dtype: object

In [5]:
cat_county = df.county.astype('category')

In [6]:
cat_county.dtypes

CategoricalDtype(categories=['Bronx County', 'Kings County', 'New York County',
                  'Queens County'],
                 ordered=False)

In [7]:
cat_county.cat.codes

0     2
1     2
2     2
3     2
4     2
5     2
6     2
7     2
8     2
9     2
10    2
11    2
12    2
13    2
14    2
15    2
16    2
17    2
18    2
19    2
20    2
21    2
22    2
23    2
24    2
25    2
26    2
27    2
28    2
29    2
     ..
57    1
58    1
59    1
60    1
61    1
62    1
63    1
64    1
65    1
66    1
67    1
68    2
69    1
70    1
71    1
72    3
73    3
74    3
75    3
76    3
77    3
78    3
79    3
80    3
81    3
82    3
83    3
84    3
85    3
86    3
Length: 87, dtype: int8

In [8]:
cat_dummies = pd.get_dummies(cat_county)

In [9]:
df = pd.concat([df, cat_dummies], axis=1)
df.head()

,zipcode,median_income,population,county,median_rent,restaurant_count,recycling_bin_count,num_subway_entrances,subway_bracket,logincome,logrent,logrestaurant,predicted_inc,difference,Bronx County,Kings County,New York County,Queens County
0,10001,71244.6100,17678,New York County,3400.0,488.0,1.0,51.0,"(6, 72]",11.173874,8.131531,6.190315,11.371688,-0.197814,0,0,1,0
1,10002,30843.9574,70878,New York County,3050.0,509.0,10.0,19.0,"(6, 72]",10.336696,8.022897,6.232448,10.896473,-0.559777,0,0,1,0
2,10003,89998.5339,53609,New York County,3750.0,682.0,7.0,28.0,"(6, 72]",11.407549,8.229511,6.525030,11.202456,0.205092,0,0,1,0
3,10004,110183.6857,1271,New York County,3876.0,145.0,3.0,6.0,"(0, 6]",11.609904,8.262559,4.976734,11.496626,0.113278,0,0,1,0
4,10005,115133.2855,1517,New York County,3910.0,72.0,3.0,0.0,0,11.653846,8.271293,4.276666,11.503444,0.150401,0,0,1,0

In [10]:
df.to_csv('df_ex-SI_dummies.csv')