In [2]:
import requests
import json
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
df = pd.read_csv("master_report_streeteasy/rentals/All/rentIndex_All.csv")

In [6]:
df[12:]

          Month  Brooklyn  Manhattan     NYC  Queens
12   2008-01-01       NaN     2670.0  2319.0     NaN
13   2008-02-01       NaN     2666.0  2316.0     NaN
14   2008-03-01       NaN     2672.0  2323.0     NaN
15   2008-04-01       NaN     2673.0  2322.0     NaN
16   2008-05-01       NaN     2675.0  2323.0     NaN
17   2008-06-01       NaN     2676.0  2325.0     NaN
18   2008-07-01       NaN     2677.0  2327.0     NaN
19   2008-08-01       NaN     2677.0  2327.0     NaN
20   2008-09-01       NaN     2665.0  2317.0     NaN
21   2008-10-01       NaN     2637.0  2293.0     NaN
22   2008-11-01       NaN     2606.0  2268.0     NaN
23   2008-12-01       NaN     2569.0  2236.0     NaN
24   2009-01-01       NaN     2534.0  2207.0     NaN
25   2009-02-01       NaN     2502.0  2180.0     NaN
26   2009-03-01       NaN     2475.0  2158.0     NaN
27   2009-04-01       NaN     2450.0  2136.0     NaN
28   2009-05-01       NaN     2431.0  2121.0     NaN
29   2009-06-01       NaN     2422.0  2114.0     NaN
30   2009-07-01       NaN     2424.0  2115.0     NaN
31   2009-08-01       NaN     2419.0  2111.0     NaN
32   2009-09-01       NaN     2419.0  2111.0     NaN
33   2009-10-01       NaN     2413.0  2107.0     NaN
34   2009-11-01       NaN     2401.0  2097.0     NaN
35   2009-12-01       NaN     2395.0  2091.0     NaN
36   2010-01-01    1841.0     2400.0  2095.0     NaN
37   2010-02-01    1838.0     2406.0  2099.0     NaN
38   2010-03-01    1850.0     2409.0  2102.0     NaN
39   2010-04-01    1863.0     2418.0  2109.0     NaN
40   2010-05-01    1881.0     2430.0  2120.0     NaN
41   2010-06-01    1899.0     2444.0  2133.0     NaN
..          ...       ...        ...     ...     ...
112  2016-05-01    2519.0     3134.0  2751.0  2110.0
113  2016-06-01    2526.0     3146.0  2761.0  2119.0
114  2016-07-01    2533.0     3155.0  2770.0  2125.0
115  2016-08-01    2540.0     3160.0  2775.0  2135.0
116  2016-09-01    2544.0     3159.0  2777.0  2139.0
117  2016-10-01    2539.0     3150.0  2770.0  2138.0
118  2016-11-01    2538.0     3138.0  2762.0  2130.0
119  2016-12-01    2529.0     3129.0  2754.0  2128.0
120  2017-01-01    2526.0     3120.0  2748.0  2125.0
121  2017-02-01    2525.0     3116.0  2746.0  2133.0
122  2017-03-01    2524.0     3116.0  2747.0  2132.0
123  2017-04-01    2529.0     3124.0  2753.0  2138.0
124  2017-05-01    2538.0     3136.0  2762.0  2136.0
125  2017-06-01    2545.0     3148.0  2772.0  2143.0
126  2017-07-01    2554.0     3158.0  2781.0  2151.0
127  2017-08-01    2562.0     3166.0  2788.0  2154.0
128  2017-09-01    2564.0     3164.0  2787.0  2153.0
129  2017-10-01    2558.0     3155.0  2779.0  2138.0
130  2017-11-01    2550.0     3141.0  2768.0  2125.0
131  2017-12-01    2545.0     3131.0  2759.0  2108.0
132  2018-01-01    2542.0     3123.0  2754.0  2107.0
133  2018-02-01    2543.0     3127.0  2757.0  2109.0
134  2018-03-01    2548.0     3133.0  2763.0  2116.0
135  2018-04-01    2556.0     3144.0  2772.0  2121.0
136  2018-05-01    2567.0     3164.0  2787.0  2129.0
137  2018-06-01    2578.0     3181.0  2801.0  2139.0
138  2018-07-01    2588.0     3196.0  2814.0  2149.0
139  2018-08-01    2595.0     3211.0  2825.0  2159.0
140  2018-09-01    2600.0     3220.0  2832.0  2163.0
141  2018-10-01    2599.0     3220.0  2833.0  2165.0

[130 rows x 5 columns]